@model FutureVendWeb.Data.Models.VendingProducts.GetVendingProductModel

@{
    ViewData["Title"] = "Product Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.Name</dd>

        <dt class="col-sm-3">PLU</dt>
        <dd class="col-sm-9">@Model.PLU</dd>

        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9">@Model.Description</dd>

        <dt class="col-sm-3">Category</dt>
        <dd class="col-sm-9">@Model.Category</dd>
    </dl>
</div>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>
