@using FutureVendWeb.Data.Models.PaymentDevice
@model GetPaymentDeviceModel

@{
    ViewData["Title"] = "Payment Device Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.Name</dd>

        <dt class="col-sm-3">Manufacturer</dt>
        <dd class="col-sm-9">@Model.Manufacturer</dd>

        <dt class="col-sm-3">OS Version</dt>
        <dd class="col-sm-9">@Model.OSVersion</dd>

        <dt class="col-sm-3">NFC</dt>
        <dd class="col-sm-9">@Model.NFC</dd>

        <dt class="col-sm-3">Chip</dt>
        <dd class="col-sm-9">@Model.Chip</dd>
    </dl>
</div>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
