@using FutureVendWeb.Data.Models.VendingDevices
@model GetVendingDeviceViewModel

@{
    ViewData["Title"] = "Delete Vending Device";
}

<h2>@ViewData["Title"]</h2>

<h4>Are you sure you want to delete this vending device?</h4>
<hr />
<dl class="row">

    <dt class="col-sm-3">Model</dt>
    <dd class="col-sm-9">@Model.Model</dd>

    <dt class="col-sm-3">Manufacturer</dt>
    <dd class="col-sm-9">@Model.Manufacturer</dd>

    <dt class="col-sm-3">Software Version</dt>
    <dd class="col-sm-9">@Model.SoftwareVersion</dd>

</dl>

<form asp-action="DeleteConfirmed" method="post">
    @if (ViewData["Error"] != null)
    {
        <div class="alert alert-danger">
            @ViewData["Error"]
        </div>
    }

    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
