@model IEnumerable<FutureVendWeb.Data.Models.Transaction.GetAllTransactionWithViewModel>

@{
    ViewData["Title"] = "All Transactions";
}

<h1>All Transactions</h1>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Amount</th>
            <th>Currency</th>
            <th>Device Info</th>
            <th>Vending Product</th>
            <th>Customer</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Amount.ToString("C")</td>
                <td>@item.Currency</td>
                <td>@item.DeviceInformation</td>
                <td>@item.VendingProductInformation</td>
                <td>@item.CustomerInformation</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
