@using FutureVendWeb.Data.Models.Customer
@model GetCustomerModel

@{
    ViewData["Title"] = "Customer Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <dl class="row">
        <dt class="col-sm-3">Company Name</dt>
        <dd class="col-sm-9">@Model.CompanyName</dd>

        <dt class="col-sm-3">First Name</dt>
        <dd class="col-sm-9">@Model.FirstName</dd>

        <dt class="col-sm-3">Last Name</dt>
        <dd class="col-sm-9">@Model.LastName</dd>

        <dt class="col-sm-3">Address</dt>
        <dd class="col-sm-9">@Model.Address</dd>

        <dt class="col-sm-3">City</dt>
        <dd class="col-sm-9">@Model.City</dd>

        <dt class="col-sm-3">Post Code</dt>
        <dd class="col-sm-9">@Model.PostCode</dd>

        <dt class="col-sm-3">Country</dt>
        <dd class="col-sm-9">@Model.Country</dd>

        <dt class="col-sm-3">Phone</dt>
        <dd class="col-sm-9">@Model.Phone</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.Email</dd>

        <dt class="col-sm-3">Tax Number</dt>
        <dd class="col-sm-9">@Model.TaxNumber</dd>
    </dl>
</div>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>
