@model FutureVendWeb.Data.Entities.Device

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Device</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDeviceSerial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentDeviceSerial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendingDeviceSerial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendingDeviceSerial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDevice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentDevice.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendingDevice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendingDevice.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcceptCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcceptCard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcceptCash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcceptCash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationLat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationLat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationLon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationLon)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
