@model FutureVendWeb.Data.Models.Device.DeviceDetailsModel

@{
    ViewData["Title"] = "Device Details";
}

<h1>Device Details</h1>

<hr />

<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-4">Payment Device Serial</dt>
            <dd class="col-sm-8">@Model.PaymentDeviceSerial</dd>

            <dt class="col-sm-4">Payment Device</dt>
            <dd class="col-sm-8">@Model.PaymentDeviceInformation</dd>

            <dt class="col-sm-4">Vending Device Serial</dt>
            <dd class="col-sm-8">@Model.VendingDeviceSerial</dd>

            <dt class="col-sm-4">Vending Device</dt>
            <dd class="col-sm-8">@Model.VendingDeviceInformation</dd>

            <dt class="col-sm-4">Customer</dt>
            <dd class="col-sm-8">@Model.CustomerInformation</dd>

            <dt class="col-sm-4">Accept Card</dt>
            <dd class="col-sm-8">@Model.AcceptCard</dd>

            <dt class="col-sm-4">Accept Cash</dt>
            <dd class="col-sm-8">@Model.AcceptCash</dd>

            <dt class="col-sm-4">Latitude</dt>
            <dd class="col-sm-8">@Model.LocationLat</dd>

            <dt class="col-sm-4">Longitude</dt>
            <dd class="col-sm-8">@Model.LocationLon</dd>
        </dl>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
